@model SMRA2023.Entities.UsuarioEntities


@{


    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script>
    document.addEventListener("DOMContentLoaded", function () {
        var elemento = document.getElementById("page-topbar");
        if (elemento) {
            elemento.style.display = "none";
        }
    });
    document.addEventListener("DOMContentLoaded", function () {
        var elementos = document.querySelectorAll(".vertical-menu");
        elementos.forEach(function (elemento) {
            elemento.style.display = "none";
        });
    });
</script>



    <div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex align-items-center min-vh-100">
                        <div class="w-100 d-block bg-white shadow-lg rounded my-5">
                            <div class="row">
                                <div class="col-lg-5 d-none d-lg-block bg-login rounded-left"></div>
                                <div class="col-lg-7">

                                    <div class="p-5">

                                        <div class="text-center mb-5">
                                            <a href="" class="text-dark font-size-22 font-family-secondary">
                                                <i class="mdi mdi-album"></i> <b>SRMA</b>
                                            </a>

                                        </div>
                                    @if (ViewBag.MsjPantalla != null)
                                    {
                                        <div style="color:white" class="alert alert-primary" role="alert">
                                            @ViewBag.MsjPantalla
                                        </div>
                                        
                                    }

                                        <h1 class="h5 mb-1">¡Bienvenido!</h1>
                                        <p class="text-muted mb-4">Ingresa tu correo y contraseña para acceder.</p>

                                    @using (Html.BeginForm("validarUsuario", "Usuario", FormMethod.Post, new { @class = "user" }))
                                    {

                                        @Html.AntiForgeryToken()
                                            <div class="form-group">


                                            @Html.TextBoxFor(m => m.email, new {@class="form-control form-control-user", @placeholder="Correo", @required=true})
                                            @Html.TextBoxFor(m => m.passwordU, new {@class="form-control form-control-user", @placeholder="Contraseña", @Type = "password", @required=true})
                                        </div>
                                          

                                        <div class="form-group">
                                            <input type="submit" id="miBoton" class="btn btn-success btn-block waves-effect waves-light" value="Iniciar Sesión" />
                                        </div>

                                        }

                                        <div class="row mt-4">
                                            <div class="col-12 text-center">
                                            <p class="text-muted mb-2"><a href="@Url.Action("RecoverPW","Usuario")" class="text-muted font-weight-medium ml-1">¿Olvidaste tu contraseña?</a></p>
                                            <p class="text-muted mb-0">¿Todavia no tienes una cuenta? <a href="@Url.Action("Register","Usuario")" class="text-muted font-weight-medium ml-1"><b>Registrarse</b></a></p>
                                            </div> <!-- end col -->
                                        </div>
                                        <!-- end row -->
                                    </div> <!-- end .padding-5 -->
                                </div> <!-- end col -->
                            </div> <!-- end row -->
                        </div> <!-- end .w-100 -->
                    </div> <!-- end .d-flex -->
                </div> <!-- end col-->
            </div> <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end page -->
@{
    var mensajeError = TempData["MensajeError"] as string;
}

@if (!string.IsNullOrEmpty(mensajeError))
{
    <script>
        Swal.fire({
            title: '@mensajeError',
            icon: 'error',
            confirmButtonText: 'Entendido'
        });
    </script>
}